/* body{
    background-color: red;
    color: white;
    text-align: center;
} */

/* h1{
    color: yellow;
} */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: inherit;
}

